In [1]:
import pandas as pd
import numpy
iris = pd.read_csv('iris.csv')

In [2]:
df = pd.DataFrame(iris)
df.shape

(150, 5)

In [3]:
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
iris_cols = [cols for cols in df.columns]

In [5]:
print(iris_cols)

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [6]:
for i in iris_cols:
    if type(df[i][0]) == numpy.float64:
        related = df['sepal_length'].corr(df[i])
        print(i,":",related)

sepal_length : 1.0
sepal_width : -0.11756978413300208
petal_length : 0.8717537758865831
petal_width : 0.8179411262715757

The following lines does the same job but using list comprehension

In [7]:
related = [df['sepal_length'].corr(df[i]) for i in iris_cols if type(df[i][0]) == numpy.float64]

In [8]:
for (i,j) in zip(iris_cols,related):
    print(i,":",j)

sepal_length : 1.0
sepal_width : -0.11756978413300208
petal_length : 0.8717537758865831
petal_width : 0.8179411262715757